{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated and logged_in %}
<!--  <img src="https://svgur.com/i/tJb.svg" alt="board">-->
<h1>Available Boards:</h1>
<ul>
  {% for id in board_ids %}
    <li><a href="{% url 'board' id %}">Board {{ id }}</a></li>
  {% endfor %}
</ul>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Create New Board">
        <input name="create_new_board" type="hidden" value="create_new_board" id="create_new_board"/>
    </form>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <script>
    setInterval(function(){
      window.location.reload();
    }, 20000);
    </script>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'register' %}">Register</a>
{% endif %}
{% endblock %}