{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <!--  <img src="https://svgur.com/i/tJb.svg" alt="board">-->
        <h1>Available Boards:</h1>
        <div class="board-grid" id="board-container">

        </div>

        <script>
            fetch('api/boards')
                .then(response => response.json())
                .then(data => {

                    const container = document.getElementById('board-container');
                    data.forEach(board => {
                        const div = document.createElement('div');
                        const ul = document.createElement('ul');

                        const h2 = document.createElement('h2');
                        h2.innerText = board.id;
                        div.appendChild(h2);

                        const button = document.createElement('button');
                        button.innerText = 'Join';
                        // on click go to board
                        button.addEventListener('click', () => {
                            window.location.href = `http://localhost:8000/board/${board.id}`;
                        });

                        div.appendChild(button);

                        div.appendChild(ul);
                        board.users.forEach(user => {
                            const li = document.createElement('li');
                            li.innerText = user;
                            ul.appendChild(li);
                        });

                        container.appendChild(div);
                    });
                })
                .catch(error => console.error(error));
        </script>

        <a href="{% url 'logout' %}"> Log Out</a>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
        {#    <a href="{% url 'register' %}">Register</a>#}
    {% endif %}
{% endblock %}